#labels {
    text-align: right;
}

#container {
    display: flex;
    flex-direction: row;
    max-width: max-content;
}

label, input[type="text"] {
    margin: 10px;
    display: block;
}

input[type="text"] {
    background: repeating-linear-gradient(90deg, white 0px, white 19px, black 20px);
    font-family: monospace;
    letter-spacing: 13px;
}

#nume, #prenume {
    width: 395px;

}

#cnp {
    width: 255px;
}